@import "tailwindcss";

@theme {
  --color-primary: #5e3bee;
  --color-heading: #282938;
  --color-bg-shade: #f5fcff;
  --color-github: #e62872;
  --color-darkblue: #1c1e53;

  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}

.animate-blink {
  animation: blink 0.7s infinite;
}


@layer base {
  body {
    @apply m-0 font-sans antialiased;
    font-family: "Roboto", sans-serif;
  }
}